<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>This app uses the camera for AR experience</string>
	<key>UIAppFonts</key>
	<array>
		<string>Lato-Regular.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>Secondary</string>
		<key>UIImageName</key>
		<string>logo</string>
	</dict>
</dict>
</plist>
